@import url('https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&display=swap');

body {
    font-family: 'Amiri', serif;
    background: #f5ecd9;
    margin: 0;
    padding: 0;
    color: #4e3b2f;
    line-height: 1.8;
    text-align: center;
}

/* container */
.container {
    width: 92%;
    max-width: 900px;
    margin: auto;
    padding: 20px;
}

/* main title */
h1 {
    font-size: 36px;
    margin-top: 20px;
    color: #4e3b2f;
}

/* buttons */
.actions {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    gap: 12px;
    flex-wrap: wrap;
}

.btn {
    background: #d6b98c;
    padding: 10px 18px;
    border-radius: 8px;
    font-size: 18px;
    text-decoration: none;
    color: #4e3b2f;
    transition: 0.25s;
}

.btn:hover {
    background: #c9a873;
}

/* search box */
#search {
    width: 80%;
    max-width: 500px;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #c9b89f;
    font-size: 18px;
    margin: 20px 0 30px;
    text-align: center;
}

/* poems grid */
#list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    gap: 12px;
}

/* poem card */
.poem-card {
    background: #f1dcb1;
    padding: 15px;
    border-radius: 12px;
    font-size: 20px;
    text-decoration: none;
    color: #4e3b2f;
    display: block;
    transition: 0.25s;
}

.poem-card:hover {
    background: #e5c894;
    transform: translateY(-3px);
}

/* بيت اليوم */
.today-box {
    background: #fff4d9;
    padding: 25px;
    border-radius: 14px;
    border: 1px solid #e2cfa8;
    font-size: 24px;
    line-height: 2.4;
    margin-top: 30px;
    width:50%;
    margin:0 auto;
    box-shadow: 0 3px 8px rgba(0,0,0,0.1);
}

.today-title {
    font-size: 28px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #5c432b;
}

/* viewer page */
.poem-text {
    background: #fff5e6;
    padding: 25px;
    border-radius: 12px;
    font-size: 24px;
    white-space: pre-wrap;
    line-height: 2.2;
    text-align: center;
}

#title {
    font-size: 34px;
    margin-bottom: 15px;
}

/* About page*
